<footer class="footer text-faded text-center py-5">
    <div class="container">
        <p class="m-0 small">Copyright &copy; Ashraf Amer 2020</p>
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>