<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("./../include/header.ejs") %>
    </head>

    <body>
        <%- include("./../include/publicNavbar.ejs") %>

        <h1 class="site-heading text-center text-white d-none d-lg-block">
            <span class="site-heading-upper text-primary mb-3"
                >ITI Events Control Management System</span
            >
            <span class="site-heading-lower">ITI Events CMS</span>
        </h1>
        <section class="page-section clearfix">
            <div class="container">
                <div class="intro">
                    <img
                        class="intro-img img-fluid mb-3 mb-lg-0 rounded"
                        src="img/oops.jpg"
                        alt="conference login image"
                        style="width: 95%; height: 500px;"
                    />
                </div>
            </div>
        </section>

        <%- include("./../include/footer.ejs") %>
    </body>
</html>
